@import "tailwindcss/base";
@import "tailwindcss/components";

html,
body,
#__next {
  height: 100vh;
  width: 100vw;
  font-family: "Kanit", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

@import "tailwindcss/utilities";
